* {margin: 0;
  padding: 0;
box-sizing: border-box;}
/* Shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600 ;
    padding: 16px;
    background-color: #469165;
    color: #FFFFFF;
}
.section-heading {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

/* main style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

}
nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

}
#banner {
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    min-height: 674px;
    padding: 115.5px 120px 0 120px;
}
 
#banner .banner-content .banner-top .badge {

    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    gap: 1.5px;
    width: 229px;
    margin-bottom: 16px;
    margin: 0 auto;

}
.dot {
    width: 16px;
    height: 16px;
    background-color: #b7dfc8;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-inner {
    width: 8px;
    height: 8px;
    background-color: #30b868;
    border-radius: 50%;
}
#banner .banner-content .banner-top .badge .heading {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
#banner .banner-content .banner-top {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}
#banner .banner-content .banner-top .white {
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
}
#banner .banner-content .banner-top .green {
    color: #30B868;
    font-size: 72px;
    line-height: 84px;
}

#banner .banner-content .banner-top p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
#banner .banner-content .banner-button {
    max-width: 465px;
    margin: 0 auto;
    margin-bottom: 183px;
    margin-top: 32px;
}

.btn2{
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600 ;
    padding: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
}
#banner .banner-content {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
#notes {
    padding-top: 120px;
}
#notes .notes-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
#notes .notes-container .notes-heading {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 44px;
}
.notes-heading h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-heading p {
    font-size: 16px;
    line-height: 20px;
}
#notes .notes-container .notes-box {
    display: flex;
    gap: 24px;
}
#notes .notes-container .notes-box .notes-card {
    padding: 70px 24px;
    /* border: 1px solid red; */
    max-width: 322px;
    box-shadow: 0 0 8px 0 #00000028;
}
 .notes-card img {
  width: 60px;
  height: 60px;
  /* display: block; */
  background-color: #F95555;
  border-radius: 50%;
  padding: 14px 14px;
  margin-bottom: 16px;
}
.notes-card .img {
    max-width: 60px;
    margin: 0 auto;
}
.notes-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;

}
.notes-card p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
#second-brain {

}
#second-brain .brain-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    margin: 120px 120px;
}
#second-brain .brain-container .brain-image {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}
#second-brain .brain-container .brain-heading {
    max-width: 760px;
    padding: 102px 0 102px 60px;
}
.brain-heading .section-message {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}
.brain-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    max-width: 700px;
}
.brain-heading .solution-list {
    list-style: none;
    margin-bottom: 102px;
}
#early-access .access-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}
#early-access .access-container .access-heading {
    max-width: 1280px;
    margin: 0 auto;
}
.access-heading h2 {
    font-style: 40px;
    font-weight: bold;
    text-align: center;
    color: #001931;
    margin-bottom: 16px;
}
.access-heading p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
    margin-bottom: 24px;
}
.access-container .access-button {
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.access-button .ending-msg .ending .happy-ending {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}